/* stylelint-disable */
@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens.module.scss";
/* stylelint-enable  */

.margin-bottom {
  margin-bottom: 24px !important;
  color: $global-color-neutral-800;
}

.parent-close-button {
  // margin: 32px 16px;
  display: flex;
  justify-content: flex-end;

}

.div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.new-right-side-panel {
  height: 160vh;

  .parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    border-radius: 8px;
    border: 1px solid $global-color-neutral-100;
  }

  .child {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    border: 1px solid $global-color-neutral-100;
    background: $global-color-neutral-0;
    margin: -1px;
  }

  span:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  span:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.divider-right-panel .essui-divider {
  /* stylelint-disable-next-line length-zero-no-unit */
  margin: 24px 0px;
}

.rightsidepanel-grid-item .essui-side-panel-heading {
  padding: 16px 32px 0 16px !important;
}

// -----------------mediaQueries-----------------------------
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .new-right-sidepanel .essui-side-panel-container-grid-item {
    height: 100vh !important;
    margin-top: 1px !important;
  }
}
