@import "../../../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

// .timetable-link-conatiner {
//   // margin-bottom: 20px;
// }

.timetable-link-lable {
  //width: 261px;
  height: 32px;
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #303030;
}

.timetable-link-url {
  margin-left: 8px;
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .timetable-link-lable {
    @include essui-global-typography-small-screen-h3;

  }

  .link-full-timetable {
    @include essui-global-typography-default-text-link;
  }

  .register-link-url {
    @include essui-global-typography-default-text-link;
  }
}
