.secondary-text-simsid-admin-sec-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
}

.secondary-text-simsid-admin {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
  display: inline;
}

.secondary-text-span-simsid-admin {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  display: inline;
}

.secondary-text-simsid {
  margin-top: -15px;
}

.secondary-text-second-para {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  // display: inline;
}
