/* stylelint-disable */


.dms-layout {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;

  .side-width {
    padding: 0;
    height: 100%;
    overflow-y: auto;

    #localised-menu-id {
      height: 91vh !important;
    }
  }

  #breadcrumbs-wrapper {
    margin-bottom: 15px;
  }

  .no-side-width {
    width: unset;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;

    #breadcrumbs-wrapper {
      margin-bottom: 0 !important
    }

    button {
      min-width: 33px;
      margin-right: 8px;
    }

  }

  .clc-dms-isopen {
    flex: 1;
    height: 96vh;
    width: 74%;
    padding: 16px;
    overflow-y: auto;
  }
}

.clc-dms-isclose {
  overflow-x: auto;
}

.side-width .essui-side-navigation-panel-container-grid-item {
  width: 100%;
}


.dms-layout {
  .grid-wrapper {
    .filter-tool-view .filter-btn {
      margin-right: 8px;
      margin-top: 24px;
    }

    .heading-title {
      margin-bottom: 20px;
    }

    .dynamic-table {
      overflow-x: auto;

      table td:first-child,
      table th:first-child {
        text-align: center;
        min-width: 82px;
      }

      .essui-table__cell {
        min-width: 140px;
        text-align: left;
      }
    }
  }
  .parent-container { // Replace with your actual parent class
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; // or a fixed height
  position: relative;
}
.grid-wrapper .vertical-center {
    width: 98px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 0;
}

  .essui-dialog__footer {
    display: flex;
    justify-content: flex-end;
  }

  .filter-tool-view .edit-selected-third-element .essui-overflow-menu {
    margin: 5px 0 0 3px !important;
    width: 100%;
    min-width: 148px;
  }

}

.relatedto-main {
  display: flex;
  gap: 2%;

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2177c2;
  }

  .tooltip-content {
    background: #f7f7f7;
    border-radius: 14px;
    width: fit-content;
    padding: 3px 12px 0px 12px;

    span {
      font-weight: 600;
      line-height: 16px;
      font-size: 14px;
    }
  }
}

.relatedto-tag {
  position: relative;
  margin-left: 8px;
}

.document-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-column {
  padding-right: 5px;
}




.grid-wrapper {
  .essui-loader {
    width: 98%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 0;
  }

  .essui-loader .essui-loader-spin {
    margin-top: inherit;
  }

  .filter-tool-view #search-autocomplete.with-suggestions #suggestions-wrapper {
    display: block;
    z-index: 1;
    padding: 0px 5px;
  }

  .loader-search .essui-loader .essui-loader-text {
    display: none;
  }

  .loader-search .essui-loader .essui-loader-spin {
    margin: auto;
  }

  .filter-tool-view #search-autocomplete.with-suggestions #suggestions-wrapper .no-items-text {
    text-align: left;
  }

  .empty-table {
    background-color: #ffffff;
  }
}

.dms-layout .essui-side-navigation-panel {
  height: 100%;
}

.dms-layout .side-width .essui-side-navigation-panel-container-grid-item {
  width: 264px;
}

;


// -------------------------768px to 1024px-------------------------------
@media screen and (min-width:360px) and (max-width:599.9px) {
  .grid-wrapper {
    #search-autocomplete.with-suggestions #suggestions-wrapper .suggestion-box ul li.no-icon {
      padding-left: 4px !important
    }
  }

  .dms-layout {
    .filter-tool-view {
      .filter-btn {
        margin-top: 0% !important;
      }
    }
  }
}

// --------------------------390px to 767px-----------------
@media (min-width: 390px) and (max-width: 767.9px) {
  .side-width .essui-side-navigation-panel-container-grid-item {
    width: 264px;
  }


  .dms-layout {
    overflow: auto;

    .filter-tool-view {
      .essui-grid-col {
        margin-top: auto !important;
      }

      .filter-btn {
        margin-top: 0% !important;
      }
    }
  }
}

;

// -------------------------360px to 1023.9px-------------------------------
@media (min-width: 360px) and (max-width:1023.9px) {
  .dms-layout {
    padding: 0 5px;
    display: block;

  }

  .grid-wrapper {
    .filter-tool-view {
      .essui-grid-col {
        padding: 0;
      }

      .filter-btn {
        width: 94%;
      }

      .tag-list-container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .dms-layout .side-width .essui-side-navigation-panel-container-grid-item {
    height: 100vh !important;
  }

  ;
}

@media (min-width:1024px) and (max-width: 1279.9px) {
  .dms-layout {
    .side-width #localised-menu-id {
      height: 100vh !important;
    }
  }
}