.teacher-panel-container {
  //display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 20px 20px 0;
  // max-width: 100%;
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .teacher-panel-container {
    // width: 1000px;
    margin: 20px 20px 20px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .teacher-panel-container {
    // width: 1000px;
    margin: 20px 20px 20px 5px;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .teacher-panel-container {
    // width: 1000px;
    margin: 20px 20px 20px 3vw;
  }
}
@media (min-width: 320px) and (max-width: 389.9px) {
  .teacher-panel-container {
    // width: 1000px;
    margin: 20px 20px 20px 3px;
  }
}

.divider-container {
  height: 1px;
  align-self: stretch;
  border-top: 1px solid var(--neutral-200, #c6c6c6);
  background: var(--neutral-200, #c6c6c6);
  margin-top: 20px;
  margin: 20px 20px 40px 0;
  width: 77vw;
}

.open-divider {
  width: 75.2vw !important;
}
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .open-divider {
    width: 71vw !important;
  }

  .divider-container {
    width: 95vw;
  }
}
@media (min-width: 320px) and (max-width: 1023.9px) {
  .divider-container {
    width: 91vw;
  }
}
//  .essui-divider {
//   //margin-top: 8px;
//   margin-top: 40px;
//   margin-bottom: 40px;
//  // margin-right: 40px;
// }

// @media (min-width: 768px) and (max-width: 1439.9px) {
//  .essui-divider {
//   //margin-top: 8px;
//   margin-top: 32px;
//   margin-bottom: 40px;
//   margin-right: 34px;
// }
// }



