.new-sidepanel-toggle-btn {
  margin: 19px 8px 0 0 !important;
  height: 40px;
  width: 40px;
  padding: 8px;
  border: unset;
  background-color: #fff;
  border-radius: 8px;
}

.new-col {
  padding-left: 0 !important;
}

.new-divider {
  height: 1px;
  align-self: stretch;
  border-top: 1px solid var(--neutral-200, #c6c6c6);
  background: var(--neutral-200, #c6c6c6);
  margin-top: 20px;
  width: 100%;
}

.new-divider-spacing {
  margin: 40px 0;
  padding-right: 12px;
}

.new-margin-b-container {
  margin-bottom: 28px !important;
}

@media only screen and (max-width: 768px) {
  .new-sidepanel-toggle-btn {
    margin: 6px 8px 0 0 !important;
  }
}

.notification-banner-class-view .essui-global-typography-default-subtitle {
  font-weight: 600 !important;
}

.notification-banner-class-view {
  width: 99.5% !important;
  margin-bottom: 15px;
}

.sims-section-footer {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .sims-section-footer {
    margin-bottom: 70px;
  }
}

.wistia-palyer-video-class {
  width: 99%;
  margin-bottom: 40px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 29px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 26px;
  }
}

.wistia-class {

  @media only screen and (max-width: 767px) {
    margin-bottom: 26px !important;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 21px !important;
  }
}
