/* stylelint-disable */
.admin-console-grid {
  overflow: auto;
}



.status-table .essui-table__cell.consents-type-cell-width {
  width: 80px;
  max-width: 80px;
  word-wrap: break-word;
}

.status-table .essui-table__cell.consents-response-cell-width {
  width: 10%;
  min-width: 10%;
  word-wrap: break-word;
  font-weight: 600;
  color: #303030;
}

.status-table .essui-table__cell.consents-comment-cell-width {
  width: 60%;
  min-width: 60%;
  max-width: 60%;
  word-wrap: break-word;
  font-weight: 600;
  color: #303030;
}

.status-table .essui-pagination.consents-pagination {
  width: 100% !important;
}


.view-link-as-button {
  background: none;
  border: none;
  padding: 0;
  color: #2177c2;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;

  &:hover {
    text-decoration: none;
  }
}

.status-table-cell {
  width: 170px;
  height: 57px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;

}



.system-status-table-wrapper {
  margin-top: 20px;
}

.warning--alt {
  color: #a86500;
}

.warning--alt svg {
  margin-bottom: -2px;
}

.status-table .essui-table__body .essui-table__cell {
  border-bottom: 0 !important;
}

.status-table .essui-table__cell:nth-child(3) {
  width: 602px;
}

.status-table .essui-table__cell:nth-child(5) {
  width: 40px;
}

.template-menu-popover {
  width: 150px;
}

.overflow-menu-top {
  transform: translateY(-70px);
}

.overflow-menu-position {
  position: absolute;
  z-index: 9999;
}

.system-status-overflow-btn-wrapper {
  margin-left: 5px;
}
