@import "../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

.side-view-panel {
  height: 148vh;
  padding: 16px 0;
  background-color: #fff;
}

@media (max-width: 1023.9px) {
  .side-view-panel {
    height: 100vh;
  }
}

@media (max-width: 319.9px) {
  .side-view-panel {
    width: 267px;
  }
}

.side-view-closed {
  height: fit-content;
  background-color: #f7f7f7;
}

.open-panel-view .essui-button .essui-button--utility .essui-button-icon-only--small .base-class {
  width: 40px;
  height: 40px;
  left: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px;
}

.close-panel-dertfsg11463f .essui-button .essui-button--utility .essui-button-icon-only--small .base-class {
  background-color: #fff;
}

.open-panel-view .essui-icon--16 {
  min-height: 16px;
  min-width: 16px;
}

.close-btn {
  /* stylelint-disable-next-line length-zero-no-unit */
  padding: 0px 33px;
}

.close-btn .essui-icon-button {
  padding: unset !important;
}

.left-side-close-btn .essui-icon-button {
  margin-right: 5%;
}

.essui-open-panel-filled .essui-button-icon-only--small {
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.quick-link-panel-item {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  color: var(--neutral-800, #303030);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  justify-content: space-between;
  word-break: break-all;
}

.see-all-dertfsg11463f {
  color: var(--neutral-400, #8f8f8f);
  display: flex;
  width: 227px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  /* default/TextLink */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
  justify-content: space-between;
  word-break: break-all;
}

.quick-link-title {
  color: var(--neutral-800, #303030);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 16px;
  /* stylelint-disable-next-line length-zero-no-unit */
  padding: 12px 16px 12px 0px;
  gap: 8px;
}

.quick-link-section {
  margin-left: 15px;

}

.quick-link-username {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  margin-left: 16px;
}

@media (min-width: 320px) and (max-width: 1023.9px) {
  .quick-link-username-tooltip-dertfsg11463f {
    @include essui-global-typography-default-body-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // font-size: 12px;
  }

  .quick-link-title {
    margin-left: 0;
  }
}

.user-name-display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.icon-margin-dertfsg11463f {
  margin-top: 2px;
}

.loader-sidepanel-quicklink-dertfsg11463f {
  margin: 10px !important;
}

.left-sidepanel-home113 .essui-side-navigation-panel {
  height: auto !important;
}

.left-sidepanel-home113 .essui-side-navigation-panel-container-grid-item {
  height: 100%;
}

.left-sidepanel-home113 .essui-button--tertiary:focus-visible {
  background-color: inherit;
  box-shadow: none;
}

@media (min-width: 320px) and (max-width: 768.9px) {
  .essui-open-panel-filled .essui-button-icon-only--small {
    margin-left: 16px;
  }
}

.label-css {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  text-align: left;
}

.new-main-panel .essui-grid-nested-container {
  margin: 0;
  gap: 12px;
}
