.side-view {
  width: 265px;
  height: 100%;
  padding: 16px 0;
  background-color: #fff;
}

.side-view-closed {
  background-color: #f7f7f7;
}

.open-panel
.essui-button
.essui-button--utility
.essui-button-icon-only--small
.base-class {
  width: 40px;
  height: 40px;
  left: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px;
}

.close-panel
.essui-button
.essui-button--utility
.essui-button-icon-only--small
.base-class {
  background-color: #fff;
}

.open-panel .essui-icon--16 {
  min-height: 16px;
  min-width: 16px;
  // margin-left: 230px;
}

.close-icon .essui-icon--24 {
  margin-left: 260px;
}

.essui-open-panel-filled .essui-button-icon-only--small {
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
  margin-left: 20px;
}

.quick-panel-cont {
  display: flex;
  width: 227px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  color: var(--neutral-800, #303030);
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  justify-content: space-between;
}

.see-all {
  color: var(--neutral-400, #8f8f8f);
  display: flex;
  width: 227px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  /* default/TextLink */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  justify-content: space-between;
}

.quick-link {
  color: var(--neutral-800, #303030);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 16px;
}

.quick-link-padding {
  padding: 20px;
}

.quick-link-username {
  width: 232px;
  font-size: 16px;
  padding-left: 16px;
}

.quick-lint-display {
  display: flex;
  margin-bottom: 24px;
}
