.side-view {
  width: 265px;
  height: 880px;
  padding: 16px 0;
  background-color: #fff;
}

.side-view-closed {
  background-color: #f7f7f7;
}

.open-panel
.essui-button
.essui-button--utility
.essui-button-icon-only--small
.base-class {
  width: 40px;
  height: 40px;
  left: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px;
}

.close-panel
.essui-button
.essui-button--utility
.essui-button-icon-only--small
.base-class {
  background-color: #fff;
}

.open-panel .essui-icon--16 {
  min-height: 16px;
  min-width: 16px;
  margin-left: 230px;
}

.close-icon .essui-icon--24 {
  margin-left: 210px;
}

.essui-open-panel-filled .essui-button-icon-only--small {
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
  margin-left: 20px;
}

