@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

.schoolname {
  width: 735px;
  height: 24px;
  font-family: "Segoe UI", "sans-serif";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.parent1 {
  width: 85vw;
  margin-top: -5vw;
  margin-left: 0;
}

// .parent1 {
//  // width: 1116px;
//  // height: 96px;
// }

// .parent2 {
//   //width: 1116px;
//  // height: 168px;
// }

.parent1-subparent {
  width: 103%;
  //height: 72px;
  //styleName: default/Display;
  font-family: Segoe UI;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
}

.parent1-open-subparent {
  width: 103%;
  //height: 72px;
  //styleName: default/Display;
  font-family: Segoe UI;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
}

.parent2-subparent {
  width: 1116px;
  height: 144px;
  font-family: Segoe UI;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1439.9px) {
  .parent1-subparent {
    width: 102%;
  }

  .parent1 {
    width: 85vw;
    margin-top: -87px;
    margin-left: 50px;
  }

  .parent1-open-subparent {
    width: 103%;
  }

  .parent1-open {
    margin-top: 0;
    width: 85vw;
  }
}

@media (min-width: 768px) and (max-width: 1127.9px) {
  .parent1-open-subparent {
    width: 102%;
  }
}

@media (min-width: 1127.9px) and (max-width: 1299.9px) {
  .parent1-subparent {
    width: 100vw;
  }

  .parent1-open-subparent {
    width: 60vw;
  }

  .parent1-open {
    margin-top: 0;
    width: 85vw;
  }

  .parent1 {
    width: 85vw;
    margin-top: -87px;
  }
}

@media (min-width: 1299.9px) {
  .parent1-open-subparent {
    width: 103vw;
  }
  
  .parent1-subparent {
    width: 100vw;
  }

  // .parent1-open-subparent {
  //   width: 100vw;
  // }

  .parent1-open {
    margin-top: 0;
    width: 85vw;
  }

  .parent1 {
    width: 85vw;
    margin-top: -87px;
  }
}

// @media (min-width: 1024px) and (max-width: 1439.9px) {
//   .parent1-subparent {
//     width: 100vw;
//   }

//   .parent1-open-subparent {
//     width: 100vw;
//   }

//   .parent1-open {
//     margin-top: 0;
//     width: 85vw;
//   }

//   .parent1 {
//     width: 85vw;
//     margin-top: -87px;
//     margin-left: 50px;
//   }
// }

@media (min-width: 390px) and (max-width: 767.9px) {
  .parent1-open-subparent {
    @include essui-global-typography-small-screen-h1;
    width: 100%;
  }

  .parent1-subparent {
    @include essui-global-typography-small-screen-h1;
    width: 100%;
  }

  .schoolname {
    @include essui-global-typography-default-body-bold;
  }

  .schoolname-res {
    margin-left: 0;
  }

  .parent1-open {
    width: 85vw;
    margin-left: 61px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .parent1 {
    width: 85vw;
    margin-left: 61px;
    display: flex;
    flex-direction: row;
    margin-top: -75px;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .parent1-subparent {
    @include essui-global-typography-small-screen-h1;
    width: 100%;
  }

  .parent1-open-subparent {
    @include essui-global-typography-small-screen-h1;
    width: 100%;
  }

  .schoolname {
    @include essui-global-typography-default-body-bold;
  }

  .schoolname-res {
    margin-left: 0;
  }

  .parent1-open {
    width: 85vw;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .parent1 {
    width: 85vw;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    margin-top: -75px;
  }
}

.mobilefullname {
  word-break: break-word;
}


