.schoolname {
  width: 735px;
  height: 24px;
  font-family: "Segoe UI", "sans-serif";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
}

// .parent1 {
//  // width: 1116px;
//  // height: 96px;
// }

// .parent2 {
//   //width: 1116px;
//  // height: 168px;
// }

.parent1-subparent {
  //width: 1116px;
  //height: 72px;
  //styleName: default/Display;
  font-family: Segoe UI;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
}

.parent2-subparent {
  width: 1116px;
  height: 144px;
  font-family: Segoe UI;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
}

@media only screen and (max-width: 1025px) {
  .weclome-res {
    margin-left: 70px;
    margin-top: -44px;
  }
}

@media only screen and (max-width: 1025px) {
  .schoolname-res {
    margin-left: 72px;
  }
}
