@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

.register-icon .essui-button-icon-only--small {
  display: "flex";
}

.register-icon {
  margin-right: 17px;
  gap: 8px;
  align-items: center;
}

@media (min-width: 1440px) {
  .register-link-event-close {
    width: 79.5vw;
  }
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -4vw;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -9vw;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -5vw;
    margin-right: 22px;
  }

  .register-icon .essui-button-icon-only--small {
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -20vw;
  }

  .register-icon .essui-button-icon-only--small {
    margin-right: 0;
  }
}

.new-action-card-accodian-container {
  margin: 0 12px;
}


.noregisterblock {
  margin: 20px 12px 20px 0;
}
