@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

.register-container {
  // max-width: 1116px;
  gap: 20px;
  margin-top: 28px;
  font-size: 24px;
}

.register-link-container {
  width: 1116px;
  gap: 8px;
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .register-link-container {
    gap: 1px;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 1439.9px) {
  .register-link-container {
    width: 100vw;
  }
}

.your-registers {
  color: var(--neutral-800, #303030);
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .your-registers {
    @include essui-global-typography-small-screen-h3;
  }
}

.register-link-url {
  color: var(--primary-500, #2177c2);
  text-align: center;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}

.register-icon .essui-button-icon-only--small {
  // margin-right: 6px;
  display: "flex";
}

.register-icon {
  margin-right: 16px;
  gap: 8px;
}

.register-link-event-open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76vw;
  justify-content: end;
  margin-left: 0;
  margin-top: -34px;
}

.register-link-event-close {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 78vw;
  justify-content: end;
  margin-left: -8px;
  margin-top: -38px;
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -4vw;
  }

  .register-link-event-open {
    width: 71.6vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }

  .register-link-event-close {
    width: 96.3vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -9vw;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -9vw;
    margin-right: 22px;
  }

  .register-icon .essui-button-icon-only--small {
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .register-icon {
    gap: 8px;
    margin-top: -20vw;
  }

  .register-icon .essui-button-icon-only--small {
    margin-right: 0;
  }
}

.actioncard-div {
  width: 17vw;
  margin: 0 12px;
}

.actioncard-div-close {
  width: 18.3vw;
  margin: 0 12px;
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .actioncard-div {
    margin: 0 12px;
    width: 34vw;
  }

  .actioncard-div-close {
    margin: 0 12px;
    width: 30.1vw;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .actioncard-div {
    margin: 0 12px;
    width: 45vw;
  }

  .actioncard-div-close {
    margin: 0 12px;
    width: 45vw;
  }

  .register-link-event-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }

  .register-link-event-close {
    width: 96vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .actioncard-div {
    margin: 0 12px;
    width: 92vw;
  }

  .actioncard-div-close {
    margin: 0 12px;
    width: 92vw;
  }

  .register-container {
    width: 100vw !important;
  }

  .register-link-event-open {
    width: 95vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }

  .register-link-event-close {
    width: 95vw;
    justify-content: end;
    margin-left: 1vw;
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .actioncard-div {
    margin: 0 12px;
    width: 90vw;
  }

  .actioncard-div-close {
    margin: 0 12px;
    width: 90vw;
  }

  .register-container {
    width: 100vw !important;
  }

  .register-link-event-open {
    width: 94vw;
    justify-content: end;
    margin-left: 0;
    margin-top: 0;
  }

  .register-link-event-close {
    width: 94vw;
    justify-content: end;
    margin-left: 2vw;
    margin-top: 0;
  }
}

.noregisterblock {
  margin: 20px 12px 20px 0;
}
