.attendance-overview {
  margin-top: 40px;

  .attendance-error-banner {
    width: auto;
  }
}

.insights-redirect-button {
  margin-left: auto;
}


.tile-card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tile-card-view {
  width: 369px;
  height: 116px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.bargraphs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .ess-bargraph {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;

    .bargraph-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .bargraphs-container {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bargraphs-container {
    display: inline-block;
    width: 100%;

  }
}

// @media only screen and (min-width: 768px) {
//   .essui-grid-col{
//       padding: 0 12px;
//       width: 100%;
//   }
// }// working

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .essui-grid-col {
    padding: 0 12px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .bargraphs-container {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .essui-grid-col {
    padding: 16px;
    width: 100%;

    display: grid;
  }

  // .bar{
  //   width:95%;
  // }//To adjust bar with label

  .bargraphs-container {
    display: inline-block;
    width: 100%;
  }

  .attendance-overview {
    width: 100vh;
  }

  .essui-accordion-wrapper.essui-accordion--expanded {
    width: 100vh;
  }

  .essui-grid-nested-container,
  .essui-grid-row,
  .app-dertfsg11463f {
    overflow-x: auto;
  }
}

