@font-face {
  font-family: "revicons";
  fallback: fallback;
  src: "";
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-left: -9px;
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .react-multi-carousel-list {
    width: 100vw;
    margin-left: -11px;
  }
}

.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }

  .react-multi-carousel-track {
    overflow: visible !important;
  }
}

[dir="rtl"].react-multi-carousel-list {
  direction: rtl;
}

#no-more-register-id {
  min-height: 93px;
}
 
#no-register-id {
  min-height: 93px;
}

#no-register-id {
  width: 275px;
}


.noregister .main-text {  
  margin-top: -29px;
}
@media (min-width: 1440px) {
  .carousel-container {
    width: 77vw;
  }

  .carousel-open {
    width: 77vw !important;
    
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .carousel-container {
    width: 97vw;
  }

  .carousel-container-close {
    width: 97vw;
  }
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .carousel-container {
    width: 96.6vw;
  }

  .carousel-open {
    width: 72vw !important;

  }

  .carousel-container-close {
    width: 96vw;
  }
}


@media (min-width: 319px) and (max-width: 767.9px) {
  #no-register-id {
    width: 92vw;
  }

}


.eventcardnohighlight .essui-activity-card:active {
  background-color: #fff;
}

.eventcardnohighlight .essui-activity-card:active { 
  border: 0;
  padding: 16px;
  
}

.eventcardnohighlight .essui-activity-card:focus {
  border: 0;
  padding: 16px;
}

.eventcardnohighlight .essui-activity-card.active div {  
  color: #000;
}

.eventcardnohighlight .essui-activity-card:active div {
  color: #000;
}

.reg-loader .loader-wrapper {
  margin: 0 auto !important;
}

.loader-margin .essui-loader .essui-loader-text {
  
  margin: 1rem 0 !important;
}

.loader-size  .essui-loader .essui-loader-img .essui-loader-svg {
  height: 60px !important;
  width: 60px !important;;
  
}

.loader-reg-size  .essui-loader .essui-loader-img .essui-loader-svg {
  height: 60px !important;
  width: 60px !important;
  margin-top: 20px;
}

.reg-loader-margin {
  margin-top: 0 !important;
  margin-bottom: -10px !important;
  margin-left: 50px !important;
}

.reg-size-margin .essui-loader .essui-loader-img {
  height: 40px !important;
}
