.newhomepage {
  margin-top: 8%;
}

.schoolname {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.app {
  display: flex;
}

@media (min-width: 320px) and (max-width: 1439.9px) {
  .app {
    overflow-x: hidden;
    width: fit-content;
    overflow-y: hidden;
  }
}

.body-panel {
  flex: 1;
  top: 88px;
  gap: 28px;
  max-width: 1136px;
}

.body-open-panel {
  flex: 1;
  top: 88px;
  gap: 28px;
  max-width: 1116px;
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .body-panel {
    max-width: 999px;
    margin-top: 40px;
    margin-left: 0;
  }
}

// @media (min-width: 843px) and (max-width: 1023.9px) {
//   .body-panel-mobile-open {
//     max-width: 768px;
//     margin-left: 72px;
//     margin-top: -24px;
//   }
//   .body-panel-mobile {
//     max-width: 768px;
//     margin-left: -70px;
//     margin-top: 39px;
//   }
// }

@media (min-width: 844px) and (max-width: 1023.9px) {
  .body-panel-mobile-open {
    max-width: 768px;
    margin-left: 16px;
    margin-top: 40px;
    // margin-top: -24px;
  }

  .body-panel-mobile {
    max-width: 768px;
    margin-left: -70px;
    margin-top: 75px
    // margin-top: 39px;
  }
}

@media (min-width: 768px) and (max-width: 843.9px) {
  .body-panel-mobile-open {
    max-width: 768px;
    margin-left: 3px;
    margin-top: 39px;
    // margin-top: -24px;
  }

  .body-panel-mobile {
    max-width: 768px;
    margin-left: 4px;
    // margin-top: 39px;
  }
}
@media (min-width: 456px) and (max-width: 767.9px) {
  .body-panel-mobile-open {
    max-width: 385px;
    margin-left: 11px;
    padding-top: 39px;
    // overflow-x: hidden;
    // overflow-x: hidden;
    // overflow-y: hidden;
  }

  .body-panel-mobile {
    max-width: 385px;
    margin-left: -60px;
    margin-top: 73px; 
    // padding-top: 40px;
    // overflow-x: hidden;
    // overflow-y: auto;
  }
}

@media (min-width: 390px) and (max-width: 455.9px) {
  .body-panel-mobile-open {
    max-width: 385px;
    margin-left: 11px;
    padding-top: 39px;
    // overflow-x: hidden;
    // overflow-x: hidden;
    // overflow-y: hidden;
  }

  .body-panel-mobile {
    max-width: 385px;
    margin-left: 11px;
    // padding-top: 40px;
    // overflow-x: hidden;
    // overflow-y: auto;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .body-panel-mobile-open {
    max-width: 320px;
    margin-left: 0;
    margin-top: 45px;
    // overflow-x: hidden;
    // overflow-y: hidden;
  }

  .body-panel-mobile {
    max-width: 320px;
    margin-left: 11px;
  }
}

.welcomemsg {
  padding-top: 20px;
}

// @media (min-width: 1024px) and (max-width: 1439.9px) {
//   .res-body {
//     width: 999px;
//   }
// }

.side-margin {
  max-width: 264px !important;
}


@media only screen and (min-width: 1024px) and (max-width: 1439.9px) {
  .side-margin {
    flex-basis: 25% !important;
    max-width: 19% !important;
  }
}

@media only screen and (min-width: 1439.9px) {
  .side-margin-closed {
    flex-basis: 25% !important;
    max-width: 13% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .essui-grid-col--lg-3 {
    flex-basis: 25%;
    max-width: 264px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .side-margin {
    max-width: 0 !important;
  }

  .side-margin-closed {
    height: fit-content;
    width: fit-content;
  }
}
@media (min-width: 1024px) and (max-width: 1439.9px) {
  // .side-margin {
  //   max-width: 0px !important;
  // }
  .side-margin-closed {
    height: 0;
    width: 0;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .side-margin {
    max-width: 0 !important;
  }

  .side-margin-closed {
    height: fit-content;
    width: fit-content;
  }
}
@media (min-width: 320px) and (max-width: 389.9px) {
  .side-margin {
    max-width: 0 !important;
  }

  .side-margin-closed {
    height: fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .essui-grid-col--lg-9 {
    flex-basis: 75%;
    max-width: 760px !important;
  }
}


