.newhomepage {
  margin-top: 8%;
}

.schoolname {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.app {
  display: flex;
}

.body-panel {
  flex: 1;
  top: 88px;
  gap: 28px;
}

.welcomemsg {
  padding-top: 20px;
}

