@media only screen and (min-width: 1024px) {
  .essui-grid-col--lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 82.555555% !important;
  }
}

.slt-mar {
  margin-top: 100px;
}

.slt-sims {
  margin-top: 40px;
}
