
@media (min-width: 1024px) and (max-width: 1439.9px) {
    .simsid-main-panel-container-dertfsg11463f {
      // width: 1000px;
      margin: 20px 20px 20px 16px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023.9px) {
    .simsid-main-panel-container-dertfsg11463f {
      // width: 1000px;
      margin: 20px 20px 20px 5px;
    }
  }
  
  @media (min-width: 390px) and (max-width: 767.9px) {
    .simsid-main-panel-container-dertfsg11463f {
      // width: 1000px;
      margin: 20px 20px 20px 3vw;
    }
  }
  @media (min-width: 320px) and (max-width: 389.9px) {
    .simsid-main-panel-container-dertfsg11463f {
      // width: 1000px;
      margin: 20px 20px 20px 3px;
    }
  }

  @media screen and (min-width: 1920px) {
    .welcome-user-simsid-fixed-dertfsg11463f {
      // position: fixed;
       margin-top: 100px;
    }
  }

.notification-simsid{
    margin-bottom: 40px;
    margin-top: 25px;
   // margin-right: 8%;
    
}