/* stylelint-disable */
.dms-filter-dialog-buttons {
    width: -webkit-fill-available;
    display: flex;
    justify-content: end;
    margin: 30px;

    .essui-button--secondary{
        margin-right: 10px;
    }
}

.dms-filter-dialog-date{
    margin: 30px 0 0 0;

    .dms-filter-dialog-date-inputs{
        display: flex;
        justify-content: space-between;
        width: 100%;

        
    }
    .essui-date-input-container{
            width: 48%;
            margin-right: 12%;
        }
    .essui-help-text{
        font-weight: bold;
    }
}