/* stylelint-disable */
.dms-filter-dialog-buttons {
    width: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
    margin: 30px;

    .essui-button--secondary{
        margin-right: 10px;
    }
}


.dms-filter-dialog-date {
  margin: 30px 0 0 0;

  .date-added{
    font-size: 17px;
  }

  .dms-filter-dialog-date-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .dms-filter-dialog-fromdate-input,
    .dms-filter-dialog-todate-input {
      width: 48%;
      margin: 0;
    }
    .dms-filter-dialog-todate-input {
      margin-left: 10%;
    }
  }

  .essui-date-input-container {
    width: 100%;
    margin-right: 0;
  }

  .essui-dialog{
    contain: content;
    overflow-y: scroll;
  }

  .essui-dialog-content {
  max-height: 80vh;
  overflow-y: auto;
}
  .essui-help-text {
    font-weight: bold;
  }

  .essui-validation-text {
    width: 100%;
  }

}

.dms-related-to-dropdown{
    margin-bottom: 40px !important;
    
      .essui-validation-text {
        margin-top: 10px;
      }
      #search-autocomplete .search-input{
        margin-bottom: 10px !important;
      }
  }

.dms-related-to-search{
  margin-left: 20px !important;
  margin-bottom: 40px !important;

  .heading-text{
    font-weight: normal !important;
    margin-top: 8px !important;
  }
   .search-input{
        display: table !important;
      }
    .essui-validation-text {
      margin-top: 10px;
    }
}

.dms-layout .essui-dialog{
  overflow-x: hidden !important;
}

.dms-filter-dialog{
  overflow-y: scroll;
  overflow-x: hidden;

  .filter-dialog-loader{
    align-self: center;

    .essui-loader{
      width: auto;
    }


  }
  #suggestions-wrapper {
    padding: 0px 0px !important;
    margin-top: 10px;
  }
}

.filter-tool-view .dropdown .essui-overflow-menu{
    width: 97%;
  }

@media (max-width: 1050px) {
  .dms-filter-dialog-date {
    .dms-filter-dialog-date-inputs {
      flex-direction: column;
      gap: 16px;

      .dms-filter-dialog-fromdate-input,
      .dms-filter-dialog-todate-input {
        width: 100%;
        margin: 0;
      }
    }
    .essui-date-input-container {
      width: 100%;
      margin-right: 0;
    }
  
  }
}

@media (max-width: 1050px) {
    .dms-filter-dialog-fromdate-input #ng-calendar-content {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    margin-left: -12px !important;
   
  }
  .dms-filter-dialog-todate-input #ng-calendar-content {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    margin-left: -12px !important;
   
  }
}
