@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens";

.search-df65s76dfs .elr-search {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  display: flex;
  height: 56px;
  margin-bottom: 32px;
  mix-blend-mode: normal;

  &__bar {
    align-items: center;
    border: 0;
    border-radius: 8px;
    color: #4b4b4b;
    display: flex;
    font-size: $global-sizing-sm;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    outline: 0;
    width: 90%;

    &::placeholder {
      color: #d0d0d0;
    }

    &--clearbutton {
      cursor: pointer;
      margin: 18px 8px;
    }

    &--clearbutton-hide {
      display: none;
    }
  }

  &__icon {
    background: #fff;
    margin: 18px 16px;
  }

  &__profile-icon {
    border-radius: 50%;
    height: 2rem;
    margin-right: 8px;
    vertical-align: middle;
    width: 2rem;
  }

  &:focus-within {
    border: 1px solid #1976d2;
  }
}

.search-df65s76dfs .essui-grid-col .essui-dropdown-container .essui-textinput {
  width: 205px !important;
}

@media only screen and (max-width: 1000px) {
  .search-df65s76dfs .elr-search {
    &__bar {
      right: 5%;
      width: 80%;
    }

    &--clearbutton {
      cursor: pointer;
      margin: 15px 8px;
    }

    &__border-on-focus {
      height: 32px !important;
    }
  }

  .search-df65s76dfs .essui-grid-col .essui-dropdown-container .essui-textinput {
    width: 175px !important;
  }
}

.search-df65s76dfs .input-wrapper div:nth-child(4) {
  z-index: 1;
}

.search-df65s76dfs .icon-container.position-right {
  top: $global-spacing-sm !important;
}


.search-df65s76dfs .essui-textinput--medium {
  height: $global-sizing-xl;
}

.search-df65s76dfs .elr-dropdownmenu {
  // padding: 0 16px;
  position: relative;

  .essui-dropdown-container {
    margin-right: 0;
    width: 100%;
  }

  .essui-overflow-menu {
    position: absolute !important;
  }

  .essui-dropdown-menu {
    padding: 0;
  }

  .essui-textinput {
    &__right-icon--large {
      margin-top: 25px;
    }
  }
}

.search-df65s76dfs .elr-search-drp .elr-dropdownmenu .essui-overflow-menu {
  top: 5.5rem !important;
}

.search-df65s76dfs #search-autocomplete.with-suggestions #suggestions-wrapper {
  z-index: 10 !important;
}

.pupil-profile-font-df65s76dfs {
  font-family: "Segoe UI", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 0;
  text-decoration: 0;
  text-transform: 0;
  margin-bottom: 20px;
  margin-top: 24px;
}

.search-comp-boreder {
  display: flex;
  padding: 6px;
  padding-left: 16px;
  align-items: flex-end;
  align-self: stretch;
  border: 1px solid var(--Neutral-100, #e0e0e0);
  background: var(--Neutral-0, #fff);
  width: 76.5vw;
  height: 96px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.search-comp-boreder-close {
  display: flex;
  padding: 6px;
  padding-left: 16px;
  align-items: flex-end;
  align-self: stretch;
  border: 1px solid var(--Neutral-100, #e0e0e0);
  background: var(--Neutral-0, #fff);
  width: 76.3vw;
  height: 96px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.search-df65s76dfs #search-autocomplete {
  display: block;
  width: 48.5%;
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .search-comp-boreder-close {
    width: 95vw;
    height: 96px;
  }

  .search-comp-boreder {
    width: 70.5vw;
    height: 96px;
  }

  .search-df65s76dfs #search-autocomplete {
    display: block;
    width: 60.5%;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .search-comp-boreder-close {
    width: 94vw;
    height: 96px;
  }

  .search-comp-boreder {
    width: 94vw;
    height: 96px;
  }

  .search-df65s76dfs #search-autocomplete {
    display: block;
    width: 65.5%;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .search-comp-boreder-close {
    width: 92vw;
    height: 109px;
    margin-left: 2px;
  }

  .search-comp-boreder {
    width: 91vw;
    height: 109px;
    margin-left: 2px;
  }

  .search-df65s76dfs #search-autocomplete {
    display: block;
    width: 97.5%;
  }

  .pupil-profile-font-df65s76dfs {
    margin-left: 8px;
  }
}

@media (min-width: 320px) and (max-width: 389.9px) {
  .search-comp-boreder-close {
    width: 91vw;
    height: 109px;
    margin-left: 8px;
  }

  .search-comp-boreder {
    width: 91vw;
    height: 109px;
    margin-left: 8px;
  }

  .search-df65s76dfs #search-autocomplete {
    display: block;
    width: 97.5%;
  }

  .pupil-profile-font-df65s76dfs {
    margin-left: 8px;
  }
}

.search-df65s76dfs #search-autocomplete.with-suggestions #suggestions-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  color: #303030;
  overflow-y: auto;
  padding-top: 5px;
  position: absolute;
  // width: 74.5% !important;
}

.search-df65s76dfs .pupil-profile-suggestion {
  color: var(--Neutral-600, #5e5e5e) !important;
  font-family: "Segoe UI" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 16px !important;
}

.search-df65s76dfs #search-autocomplete.with-suggestions #suggestions-wrapper {
  z-index: 1 !important;
}

.search-df65s76dfs .essui-textinput--large {
  height: 50px !important;
}

.search-df65s76dfs .no-icon-search .essui-icon-button {
  cursor: pointer;
  display: none !important;
}

.search-df65s76dfs .icon-search .essui-icon-button {
  cursor: pointer;
}
