.link-data {
  color: #2177c2;
  display: inline-block;
  margin-right: 50px;
}
  
@media (min-width: 1024px) {
  .notification-banner-class-view {
    width: 91vw !important;
  }
}

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .notification-banner-class-view {
    width: 91vw !important;
  }
}

@media (min-width: 320px) and (max-width: 1023.9px) {
  .notification-banner-class-view {
    width: 91vw !important;
  }
}
