.link-data {
  color: #2177c2;
  display: inline-block;
  margin-right: 50px;
}
 

.notification-banner-class-view .essui-global-typography-default-subtitle {
  font-weight: 600 !important;
} 

.notification-banner-class-view {
  width: 99.5% !important;
}

