.delete-confirmation-dialog {
  .delete-confirmation-content {
    width: 100%;
  }

  .notification-count {
    font-weight: 600;
  }

  .dialog-footer {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: flex-end;
  }
}

.notification-controlledlist-width:focus {
  outline: none;
}

.notification-controlledlist-width:focus-visible {
  outline: none;
}
