.dynamiceventcard {
  float: left;
  margin-right: 16px;
  background-color: #fff;
}

.event-primary-text {
  /* stylelint-disable */
  .essui-event__primaryfont {
/* stylelint-enable */
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
}

.no-events .essui-event:focus {
  border-left-width: 4px;
  box-shadow: 0 0 0 2px #fff;
  outline: none;
}

