.invite-users-table .filter-tool .essui-validation-text {
  margin-top: 10px;
}

.invite-users-table {
  margin-bottom: 16px;
}

.new-side-panel-invite-users {
  height: 100vh;
  overflow: hidden;
}

.new-main-panel-invite-users {
  flex: 1;
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  width: 100%;
  padding: 16px;
}

.admin-console-grid-invite-users {
  overflow: auto;
  display: flex;
  height: 100vh;
  width: 100%;
}

.invite-users-table .dynamic-table-scrollable {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.invite-users-table .essui-textinput--medium {
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .new-side-panel-invite-users {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .essui-grid-col--lg-2 {
    flex-basis: unset !important;
  }
}

.invite-users-breadcrumb #breadcrumbs-wrapper {
  margin-bottom: 0 !important;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 16px;
}

.sidepanel-toggle-button {
  width: 40px !important;
  height: 40px;
  left: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #8f8f8f;
}

.invite-user-container {
  margin: 0 !important;
}

.invite-users-table .filter-tool-view .essui-overflow-menu {
  margin: 5px 0 0 3px !important;
  width: 100%;
}

@media only screen and (max-width: 359px) {
  .invite-users-table .essui-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    nav {
      grid-column-gap: 16px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .invite-users-table .table-pagination .essui-button--small {
    padding: 8px 12px;
  }
}

@media (max-width: 700px) and (pointer: fine) and (hover: hover) {
  .invite-user-container .essui-dialog {
    max-height: 100vh !important;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .invite-user-container .essui-dialog__footer {
    margin: 0 !important;
  }

  .invite-user-container .essui-header {
    margin-top: 0 !important;
    margin-bottom: 8px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 599px) {
  .dropdown {
    max-width: 42% !important;
  }
}

.invite-user-container .essui-side-navigation-panel-container-grid-item {
  padding-bottom: 58px !important;
}

.invite-user-container #localised-menu-id #side-navigation-panel-container {
  margin-bottom: 24px !important;
}

.sims7-redirections .text-tag {
  gap: 32px !important;
}

.heading-category {
  font-weight: 600;
  font-size: 14px;
  gap: 8px;
}

.details-category {
  font-weight: 400;
  font-size: 16px;
  gap: 8px;
}

.view-mode-with-edit-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.view-mode-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sims7-redirections .dialog-content {
  padding-left: 4px;
  display: block;
}

.sims7-redirections .dialog-with-dropdown {
  height: 350px;
  padding-left: 4px;
}

.sims7-redirections .dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 32px;
}
