.invite-users-table .filter-tool .essui-validation-text {
  margin-top: 10px;
}

.invite-users-table {
  margin-bottom: 16px;
}

.new-side-panel-invite-users {
  height: 100vh;
  overflow: hidden;
}

.new-main-panel-invite-users {
  flex: 1;
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  width: 100%;
  padding: 16px;
}

.admin-console-grid-invite-users {
  overflow: auto;
  display: flex;
  height: 100vh;
  width: 100%;
}

.invite-users-table .dynamic-table-scrollable {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.invite-users-table .essui-textinput--medium {
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .new-side-panel-invite-users {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .essui-grid-col--lg-2 {
    flex-basis: unset !important;
  }
}

.invite-users-breadcrumb #breadcrumbs-wrapper {
  margin-bottom: 0 !important;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 16px;
}

.sidepanel-toggle-button {
  width: 40px !important;
  height: 40px;
  left: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #8f8f8f;
}

// .filter-tool-view {
//   background: #fff;
// }

.invite-user-container {
  margin: 0 !important;
}

// .invite-users-table [data-testid="checkbox-data-testid"] {
//   [data-testid="columnheader"] {
//     width: 25px;
//     height: 25px;
//     margin: auto;

//     .checkbox {
//       width: 25px;
//     }
//   }
// }

// /* stylelint-disable-next-line selector-class-pattern */
// .invite-users-table .essui-table__cell-center {
//   span {
//     .action-table-cell {
//       width: 25px;
//       display: inline-block;

//       .checkbox {
//         width: 25px;
//         height: 25px;
//       }
//     }
//   }
// }

// /* stylelint-disable-next-line selector-class-pattern */
// .invite-users-table .essui-table__cell-center > span:first-of-type {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .invite-users-table .controlled-list-table {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .invite-users-table .table-pagination {
//   border-bottom-left-radius: 8px;
//   border-bottom-right-radius: 8px;
// }

/* stylelint-disable-next-line selector-class-pattern */
// .essui-table__row .essui-table__cell:last-child {
//   padding-right: 33px;
// }

.invite-users-table .filter-tool-view .essui-overflow-menu {
  margin: 5px 0 0 3px !important;
  width: 100%;
}

// .invite-users-table .dynamic-table-scrollable {
//   border-bottom-left-radius: 8px;
//   border-bottom-right-radius: 8px;
// }
@media only screen and (max-width: 359px) {
  .invite-users-table .essui-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    nav {
      grid-column-gap: 16px;
    }
  }

  // /* stylelint-disable-next-line selector-class-pattern */
  // .invite-users-table .essui-textinput__right-icon {
  //   margin-left: -30px;
  // }
}

@media only screen and (max-width: 767px) {
  .invite-users-table .table-pagination .essui-button--small {
    padding: 8px 12px;
  }
}

@media (max-width: 600px) and (pointer: fine) and (hover: hover) {
  .invite-user-container .essui-dialog {
    max-height: 100vh !important;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .invite-user-container .essui-dialog__footer {
    margin: 0 !important;
  }

  .invite-user-container .essui-header {
    margin-top: 0 !important;
    margin-bottom: 8px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 599px) {
  .dropdown {
    max-width: 42% !important;
  }
}
