#page-not-found-wrapper-1144534sdw {
  width: 1136px;
  padding-top: 80px;
  margin: auto;
  font-size: 16px;
  color: #303030;

  .body-text {
    margin-bottom: 10px;
    display: block;
  }

  .page-heading-1144534sdw {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    margin-bottom: 16px;
  }
}
