html {
  // -webkit-text-size-adjust: 100%;
  /* Prevents Safari from adjusting text size */
  text-size-adjust: 100%;
}

body {
  background-color: #f7f7f7 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

header,
main,
nav,
footer {
  display: grid;
  grid-auto-rows: minmax(auto);
  grid-column-gap: 32px;
  grid-template-columns: [screen-start] 1fr [page-start] 60px 60px [text-start] 60px 60px 60px 60px 60px 60px 60px 60px [text-end] 60px 60px [page-end] 1fr [screen-end];
}

header>*,
main>*,
nav>*,
footer>* {
  grid-column: text;
}

.loader-wrapper {
  margin: 150px auto;
}

.ng-home {
  overflow-x: hidden;
  overflow-y: auto;
}

// Comman style classes

.c-clear-margin {
  margin: 0 !important;
}

.c-clear-margin-left {
  margin-left: 0 !important;
}

.c-clear-margin-right {
  margin-right: 0 !important;
}

.c-clear-margin-bottom {
  margin-bottom: 0 !important;
}

.c-clear-margin-top {
  margin-top: 0 !important;
}


.c-clear-padding {
  padding: 0 !important;
}

.c-clear-padding-left {
  padding-left: 0 !important;
}

.c-clear-padding-right {
  padding-right: 0 !important;
}

.c-clear-padding-bottom {
  padding-bottom: 0 !important;
}

.c-clear-padding-top {
  padding-top: 0 !important;
}

.home-page-for-sims-connected-normal-user-wrapper {

  margin: 16px 152px;
  display: flex;

  .welcome-heading {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
  }

  .what-new-sims {
    flex-grow: 1;
  }

  .gap-24 {
    gap: 24px;
  }

  .new-sims-uppersection .new-title-container {
    margin-bottom: 0 !important;
  }

  .notification-banner-class-view {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .home-page-for-sims-connected-normal-user-wrapper {
    margin: 24px;

    .action-card-container-closeview.sims-ng {
      gap: 24px !important;

      .essui-activity-card-center {
        width: 90% !important;
      }

    }

    .welcome-heading-container {
      flex-basis: 100%;
      max-width: 100%;

      .welcome-heading {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .sims-next-gen-update-wrapper {
      gap: 16px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-page-for-sims-connected-normal-user-wrapper {

    margin: 24px 16px;

    .action-card-container-closeview.sims-ng {
      gap: 16px !important;

      .essui-activity-card-center {
        width: 90% !important;
      }

    }

    .essui-grid-container {
      margin: 0 -4px !important;
    }
  }
}
