@import "../../../../node_modules/@essnextgen/ui-kit/dist/build/assets/scss/tokens-typography";

.sims-container {
  display: flex;
  // width: 1116px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.sims-link-container {
  display: flex;
  width: 99.3%;
  justify-content: space-between;
  align-items: baseline;
}

.sims-link-container-close {
  display: flex;
  width: 99.3%;
  justify-content: space-between;
  align-items: baseline;
}


@media (min-width: 768px) and (max-width: 1439.9px) {
  .sims-link-container {
    max-width: 98%;
  }

  .sims-link-container-close {
    max-width: 98.4%;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .sims-link-container {
    max-width: 98%;
  }

  .sims-link-container-close {
    display: flex;
    /* width: 278px; */
    gap: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.sims-updates {
  color: var(--neutral-800, #303030);

  /* default/H4 */
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  white-space: pre;
  /* 133.333% */
}

.sims-link-url {
  color: var(--primary-500, #2177c2);
  text-align: center;

  /* default/ButtonSmall */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.primary-text {
  color: var(--neutral-800, #303030);
}

.action-card-container {
  color: Neutral/800;
  display: flex;
  // align-items: flex-start;
  // gap: 35px;
  flex-direction: row;
  // gap: 20px;
}

.action-card-container-close {
  color: Neutral/800;
  display: flex;
  // align-items: flex-start;
  // gap: 35px;
  flex-direction: row;
  // gap: 20px;
}

// .sims-ng .essui-activity-card {
//   width: 354px;
// }

@media (min-width: 1024px) and (max-width: 1439.9px) {
  .action-card-container {
    width: 102.4% !important;
  }

  .action-card-container-close {
    width: 101.7% !important;

  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .action-card-container {
    width: 102.4% !important;
    gap: 19px;
    justify-content: normal;
  }

  .action-card-container-close {
    width: 102.4% !important;
    gap: 19px;
    justify-content: normal;
  }

  .what-new {
    width: 371px !important;
  }
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .action-card-container {
    width: 104% !important;
    gap: 16px;
    justify-content: normal;
  }

  .action-card-container-close {
    width: 104% !important;
    gap: 16px;
    justify-content: normal;
  }

  // .what-new {
  //   width: 374px !important;
  // }

  .onecard {
    width: 376px !important;
  }

  .action-card .essui-activity-card {
    margin-left: -1px !important;
    // width: fit-content;
  }
}

.action-card .essui-activity-card {
  margin-left: -8px;
  // width: fit-content;
}

.what-new .essui-activity-card-center {
  width: fit-content;
}

.essui-activity-card {
  align-items: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: start;
  min-height: 88px;
  padding: 16px;
  vertical-align: middle;
  /* width: 100%; */
}

@media (min-width: 390px) and (max-width: 767.9px) {
  .sims-updates {
    @include essui-global-typography-small-screen-h3;
    white-space: break-spaces;
  }

  .sims-container {
    width: 379px;
  }

  .base-class-more {
    height: 70px;
    white-space: break-spaces;
  }
}
