.sims-container {
  display: flex;
  width: 1116px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.sims-link-container {
  display: flex;
  width: 1081px;
  justify-content: space-between;
  align-items: baseline;
}

.sims-updates {
  color: var(--neutral-800, #303030);

  /* default/H4 */
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}

.sims-link-url {
  color: var(--primary-500, #2177c2);
  text-align: center;

  /* default/ButtonSmall */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.primary-text {
  color: var(--neutral-800, #303030);
}

.action-card-container {
  color: Neutral/800;
  display: flex;
  align-items: flex-start;
  gap: 24px;

}

.what-new .essui-activity-card {
  margin-left: 11px;
}

.sims-ng .essui-activity-card {
  width: 526px;
}

.action-card .essui-activity-card {
  margin-left: -8px;
}

.essui-activity-card-center {
  float: left;
  width: fit-content;
} 



