.new-adminconsole-sidepanel {
  width: 20%;
  max-height: 120vh;
  overflow-y: auto;
}

.heading-text-up {
  margin-left: 12px;
}

.new-adminconsole-container {
  /* stylelint-disable-next-line length-zero-no-unit */
  padding: 0px 16px;
}

.new-adminconsole-container-grid {
  display: flex;
}

.new-adminconsole-breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
}
