@media (min-width: 390px) and (max-width: 767.9px) {
  .admin-mobile-rwaf92428 {
    margin: 16px;
  }

  .admin-heading .subheading-font {
    font-size: 16px;
  }

  .adminconsole-breadcrumb {
    margin-top: -57px;
    margin-left: 42px;
  }

  .adminconsole-sidepanelopen {
    margin-left: 42px;
    margin-top: -16.3px;
  }

  .admin-heading-psas1334f .heading-font {
    font-size: 20px;
  }

  .side-width .essui-side-navigation-panel-container-grid-item {
    width: 264px;
  }
}


@media (min-width: 319.9px) and (max-width: 389.9px) {
  .admin-mobile-rwaf92428 {
    margin: 16px;
  }

  .adminconsole-breadcrumb {
    margin-top: -60px;
    margin-left: 44px;
  }

  .adminconsole-sidepanelopen {
    margin-left: 42px;
    margin-top: -16.3px;
  }

  .side-width .essui-side-navigation-panel-container-grid-item {
    width: 264px;
  }
}


@media (min-width: 767.9px) and (max-width: 1023.9px) {
  .admin-mobile-rwaf92428 {
    margin: 16px;
  } 

  .adminconsole-breadcrumb {
    margin-top: -57px;
    margin-left: 48px;
  }

  .adminconsole-sidepanelopen {
    margin-top: -57px;
    margin-left: 48px;
  }

  .side-width .essui-side-navigation-panel-container-grid-item {
    width: 264px;
  }
}
@media (min-width: 1439.9px) {
  .side-width .essui-side-navigation-panel-container-grid-item {
    width: 400px;
  }

}

.heading-text-up {
  margin-left: 4.5px;
}

@media (min-width: 1024px) {
  .admin-heading .subheading-font {
    width: 74vw;
  }
}

